body {
    font-family: sans-serif;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.welcome-container {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
}

h1 {
    color: #6D81FC;
    margin-bottom: 20px;
}

label {
    color: #282828;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #D0E3F1;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-button {
    font-weight: 600;
    background-color: #6D81FC;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.form-button:hover {
    background-color: #A3B0FF;
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
}

.signup-link a {
    /* color: #6D81FC; */
    text-decoration: none;
}

.homepage-button {
    font-weight: 600;
    color: #FFFFFF;
    background-color: #6D81FC;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
}

.homepage-button:hover {
    background-color: #D0E3F1;
}